{% extends "base.html" %} {% block content %} {% load static %}
<div class="container ms-auto py-5">
  <h1>Product Detail</h1>
  <table class="table table-bordered px-2 table-striped">
    <thead class="text-center fs-3">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody class="fs-5">
      <tr>
        <td>{{ product.id }}</td>
        <td>{{ product.title }}</td>
        <td>
          <img
            width="120px"
            height="80px"
            src="{{ product.thumbnail }}"
          />
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
